* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    height: auto;
    width: 1000px;
    border: 1px solid transparent;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background: linear-gradient(to right, #FFFACD 50%, #FFFFFF 50%);
    box-shadow: 5px 0px 50px -5px;
    margin: 0 1rem;
}

.container-left,
.container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    border-radius: 25px;
    margin: 1.5rem;
    width: 100%;
    height: 575px;
}

h1.nama {
    margin-top: 3rem;
    font-size: 2rem;
}

.result {
    margin-bottom: 4rem;
}

.rincian {
    position: absolute;
    font-size: 18px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

p.nilai {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: bold;
}

.emoticon-k,
.emoticon-bk {
    width: 100px;
    height: auto;
    margin-bottom: 2rem;
}

/* form style */
.inputNama,
.inputNilai {
    width: 20rem;
    border: 2px solid lightblue;
    border-radius: 5px;
    height: 30px;
    margin-top: 4px;
}

.inputNama:focus,
.inputNilai:focus {
    border: 2px solid lightblue;
    box-shadow: 5px 5px 10px 0px lightblue;
    outline: none;
}

form > label {
    font-size: 18px;
}

.submit {
    width: 25%;
    padding: 0;
    background-color: lightblue;
    color: white;
    border: 2px solid lightblue;
    border-radius: 2px;
    font-size: 17px;
}

.submit:hover {
    color: lightblue;
    border: 2px solid lightblue;
    background-color: white;
}


/* toggle change theme */
.tema {
    flex-shrink: 0;
    max-width: 100%;
    justify-self: center;
    margin-bottom: 1.5rem;
    display: flex;
    gap: 10px;
}

.checkbox {
    opacity: 0;
    position: absolute;
    display: none !important;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #f1c40f;
}
.fa-sun {
    color: #f39c12;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}

#checkbox {
    display: none;
}

/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

/* responsiv */