* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    height: auto;
    width: 1000px;
    border: 1px solid transparent;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background: linear-gradient(to right, #FFFACD 50%, #FFFFFF 50%);
    box-shadow: 5px 0px 50px -5px;
}

.container-left,
.container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    border-radius: 25px;
    margin: 2rem;
    width: 100%;
    height: 575px;
}

.emoticon-k,
.emoticon-bk {
    width: 100px;
    height: auto;
}

/* toggle change theme */
.ror {
    flex-shrink: 0;
    max-width: 100%;
    justify-self: center;
    margin-bottom: 1.5rem;
}

.checkbox {
    opacity: 0;
    position: absolute;
    display: none !important;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #f1c40f;
}
.fa-sun {
    color: #f39c12;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}

#checkbox {
    display: none;
}