* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    height: auto;
    width: 1000px;
    border: 1px solid transparent;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background: linear-gradient(to right, rgb(56, 142, 171) 50%, #FFFFFF 50%);
    box-shadow: 5px 0px 50px -5px;
    margin: 0 1rem;
}

.container-left,
.container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    border-radius: 25px;
    margin: 1.5rem;
    width: 100%;
    height: 575px;
}

.container-left {
    background: linear-gradient(to bottom, #E9D988 50%, #fff 50%);
}

.container-right h1 {
    color: rgb(77, 146, 169);
}

.emot {
    margin-bottom: 1rem;
}

.result {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.rincian {
    font-size: 16px;
    color: #444;
    background: white;
    padding: 5px 15px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 1rem;
    font-weight: bold;
    border: 1px solid #444;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.nama {
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}

.nilai {
    font-size: 38px;
    font-weight: bold;
    margin-top: 5px;
}

.numberNilai {
    font-size: 48px;
    font-weight: bolder;
    margin-top: 5px;
}

/* form style */
.inputNama,
.inputNilai {
    width: 20rem;
    border: 2px solid lightblue;
    border-radius: 5px;
    height: 30px;
    margin-top: 4px;
}

.inputNama:focus,
.inputNilai:focus {
    border: 2px solid lightblue;
    box-shadow: 5px 5px 10px 0px lightblue;
    outline: none;
}

form > label {
    font-size: 18px;
}

.submit {
    width: 25%;
    padding: 0;
    background-color: lightblue;
    color: white;
    border: 2px solid lightblue;
    border-radius: 2px;
    font-size: 17px;
}

.submit:hover {
    color: lightblue;
    border: 2px solid lightblue;
    background-color: white;
}


/* toggle change theme */
.tema {
    flex-shrink: 0;
    max-width: 100%;
    justify-self: center;
    margin-bottom: .5rem;
    display: flex;
    gap: 10px;
}

.checkbox {
    opacity: 0;
    position: absolute;
    display: none !important;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #f1c40f;
}
.fa-sun {
    color: #f39c12;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}

#checkbox {
    display: none;
}

/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

/* responsiv */
@media screen and (max-width: 775px) {
    .main-container {
        flex-direction: column-reverse;
        background: linear-gradient(to top, #FFFACD 55%, #FFFFFF 55%);
    }
    .container-left,
    .container-right {
        width: auto;
        height: auto;
    }

    .emoticon-k, .emoticon-bk {
        width: 60px;
    }

    .result {
        font-size: 28px;
    }

    .rincian {
        font-size: 14px;
        padding: 4px 12px;
    }

    .nama {
        font-size: 20px;
    }

    .nilai {
        font-size: 22px;
    }

    .numberNilai {
        font-size: 36px;
    }

    /* input form */

}